:host {
  display: flex;
  align-content: center;
}
.container {
  display: flex;
  width: 500px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
  }

  .card-body {
    padding: 10px;
    border-top: 1px solid;
    background-color: rgb(217, 217, 217);
  }

  .basic-details {
    display: flex;
    flex-direction: column;

    span {
      padding-left: 10px;
    }
  }
}
